@{
    ViewBag.Title = "DisplayXMl";
}
@using xmlTester.Models;
@model List<xmlTester.Models.form>
<h2>APRA forms - @ViewBag.Name  - @ViewBag.Fund  - @ViewBag.Period</h2>
<table class="table table-responsive table-bordered hover">
    <thead style="background-color:Highlight">
        <tr class="table-active thead-inverse">
            <th>Form Code</th>
            <th>Form Name</th>
            <th>@ViewBag.FileName</th>
            <th class="alert-info">@ViewBag.PeriodShort</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable" data-toggle="collapse" id="@item.code" data-target=".@item.code">
                <td><i class="glyphicon glyphicon-plus"></i>@item.code</td>
                <td>@item.name</td>
                <td></td>
                <td></td>
            </tr>  
            foreach (var subItem in @item.items)
            {
                <tr class="collapse @item.code">
                    <td></td>
                    <td>@subItem.code</td>
                    <td>@subItem.type</td>
                    <td>@subItem.value</td>

                </tr>

            }
        }
    </tbody>
</table>